header {
    background: #333;
  }

h1 {
padding: 20px 0;
margin: 0;
margin-bottom: 20px;
}

header h1 {
    font-family: Verdana ;
    color: #eee;
    font-size: 35px;
    text-align: center;
}

/* .header_pic {
    height: 100px;
} */

.col-lg-12 h1 {
    text-align: center;
}

/* End of Index Template */

/* Start of ROY Page */
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
display: block;
}

#ROY_table_header{text-align: center;}

footer{
    background-color: gold;
}

.footer-div {
    font-family: Verdana;
    text-align:center;
}

