header {
    background: #333;
  }

h1 {
padding: 20px 0;
margin: 0;
margin-bottom: 20px;
}

header h1 {
    font-family: Verdana ;
    color: #eee;
    font-size: 35px;
    text-align: center;
}


.col-lg-12 h1 {
    text-align: center;
}


#comissioner{text-align: center;
    float: left;
    font-size: 15px;
    width:30%;
    padding: 15px;}

#comissioner img {
    width: 100%;}


/* End of Index Template */

/* Start of ROY Page */
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
display: block;
}

#table_header{text-align: center;
font-weight: bold;}

footer{
    background-color: gold;
}

.footer-div {
    font-family: Verdana;
    text-align:center;
}

#roy_prediction{width:50%;}
