<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>

  <select id="selSeason">
    {% for season in seasons %}
      <option value='{{ season[0] }}'>{{ season[0] }}</li>
    {% endfor %}
  </select>
  <select id="selStatX">
    {% for stat in stats %}
      <option value='{{ stat }}'>{{ stat }}</li>
    {% endfor %}
  </select>
  <select id="selStatY">
    {% for stat in stats %}
      <option value='{{ stat }}'>{{ stat }}</li>
    {% endfor %}
  </select>
  <div id="myDiv"></div>
  <script src="../static/js/players_scatter2.js"></script>

</body>

</html>